/*
COLORS:
BRIGHT YELLOW (CRAYOLA): #FF9F1C
DARK BLUE (GUNMETAL): #2B2D42
GRAY BLUE: #8D99AE
ANTI-FLASH WHITE: #EDF2F4
RED (ROSE MADDER): #E71D36
 */

@import url('https://fonts.googleapis.com/css?family=Marcellus+SC|Open+Sans');

body {
    background-color: #2B2D42;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}

p, span {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 25px;
    font-family: 'Marcellus SC', serif;
    font-size: 35px;
    text-align: center;
    color: #EDF2F4;
}

h2 {
    margin-bottom: 10px;
    font-family: 'Marcellus SC', serif;
    font-size: 25px;
    text-align: center;
}

.hiddenItem {
    display: none !important;
}

#mainOptions {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

#mainOptions img {
    display: block;
    margin: auto;
    max-width: 50px;
    margin-bottom: 10px;
}

#mainOptions p {
    text-align: center;
    color: #EDF2F4;
}

#randomPageIcon {
    margin-right: 25px;
}

#performSearchIcon {
    cursor: pointer;
}

#searchFormContainer {
    display: block;
    margin: auto;
    width: 80%;
    padding: 20px;
    background-color: #8D99AE;
    border: 2px solid #EDF2F4;
    border-radius: 20px;
}

#searchFormContainer div {
    text-align: center;
}

#searchFormContainer div:first-of-type {
    margin-bottom: 10px;
}

#searchFormContainer span {
    font-size: 15px;
}

#searchResultsList {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 20px;
}

.page-box {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.page-box-content {
    height: 100%;
    padding: 20px;
    border: 5px solid #EDF2F4;
    box-sizing: border-box;
    background-color: #8D99AE;
    transition: background-color, 1s
}

.page-box-content img {
    display: block;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}

.page-box-content-description {
    margin: 10px 0 10px 0;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
}

.page-box-content-extract {
    margin-bottom: 5px;
    font-size: 13px;
    text-align: justify;
}

.page-box-content-btn {
    padding: 5px;
    width: 60%;
    background-color: #2B2D42;
    border: 2px solid #EDF2F4;
    transition: width, 2s;
}

.page-box-content-btn img {
    display: inline;
    height: 15px;
}

.page-box-content-btn span {
    font-size: 15px;
    color: #EDF2F4;
}

.page-box-content:hover {
    background-color: #FF9F1C;
}

#loadMoreBtn {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    width: 80%;
    background-color: #8D99AE;
    border: 2px solid #EDF2F4;
    transition: background-color, 1s
}

#loadMoreBtn:hover {
    background-color: #FF9F1C;
}

#loadMoreBtn p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    text-align: center;
    margin-bottom: 25px;
}

footer span {
    font-style: italic;
    font-size: 15px;
}

footer span:first-of-type {
    color: #EDF2F4;
}

footer span:last-of-type {
    color: #FF9F1C;
}

@media screen and (min-width: 576px) {

    h1 {
        margin-top: 20vh;
    }

    .page-box {
        width: 50%;
    }

    #loadMoreBtn {
        width: 50%;
    }

    #searchFormContainer {
        width: 50%;
    }

}

@media screen and (min-width: 992px) {

    .page-box {
        width: 33%;
    }

    #loadMoreBtn {
        width: 30%;
    }

    #searchFormContainer {
        width: 30%;
    }

}

@media screen and (min-width: 1200px) {

    .page-box {
        width: 25%;
    }

}

@media screen and (min-width: 1900px) {

    .page-box {
        width: 20%;
    }

}